.card{
    padding: .8rem 1rem;
    margin: 1rem 0;
    box-shadow: 1px 1px 10px 0px #ddd;
    background-color: #29A0B1;
    border: 2px solid #167D7F;
}
.card a{
 color: #2F5233;
}
.card a:hover{
 color: #DDFFE7 !important;
}