.card{
    padding: .8rem 1rem;
    margin: 1rem 0;
    box-shadow: 1px 1px 7px 1px #0d503c;
    background-color: #79dfc1;
    border: 2px solid #0d503c;
    border-radius: 1rem;
}
.card a{
 color: #2F5233;
}
.card a:hover{
 color: #DDFFE7 !important;
}