body{
    background-color: #DDFFE7;
}
.remove{
    cursor: pointer;
}
.wrapper{
    overflow: hidden;
}
@media screen and (min-width: 769px) {
    .wrapper{
        width: calc(100% - 320px) !important;
        margin-left: 250px !important;
    }
    
}